h1 {
	text-align: center;
}

#octopus {
	position: absolute;
    top: 10px; bottom:0; left: 0; right:0;
    margin: auto;
}

#hat {
	position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
    z-index: 2;
    margin-top: 170px;
    margin-left: 315px;
}

#glasses {
	position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
    z-index: 2;
    margin-top: 328px;
    margin-left: 378px;
}