#hat {

position: fixed;
margin-left: 78px;
margin-top: 78px;
z-index: 1;
}

#octopus {

position: fixed; 
margin-left: 78px;
margin-top: 170px;

}

#glasses {

position: fixed;
margin-left: 158px;
margin-top: 268px;
z-index: 2;
}

 

p {
display: inline-block;
position: fixed;
width: 50%;
height: 50%;
}